* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;   /* Evita línea blanca horizontal */
    overflow-y: hidden;   /* Evita scroll y líneas blancas verticales */
    background: #111;     /* Fondo cine */
    font-family: Arial, sans-serif;
    color: #eee;
}

header {
    background: #000;
    padding: 10px 20px;
    display: flex;
    justify-content: center;   /* Centrada navegación */
    align-items: center;
    border-bottom: 2px solid #444;
}

nav a {
    color: #eee;
    margin: 0 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover {
    color: #ffd000; /* Amarillo Tarantino */
}

.tarantino-title {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 65px;             /* Grande y cinematográfico */
    font-weight: 900;            /* Súper grueso */
    text-transform: uppercase;   /* Estilo Tarantino */
    letter-spacing: 2px;         /* Espaciado entre letras */
    line-height: 1.05;           /* Compacto tipo póster */
    text-align: center;

    color: #ffd000; /* Amarillo Tarantino */

    text-shadow:
        /* Contorno negro */
        -3px -3px 0 #000,
         3px -3px 0 #000,
        -3px  3px 0 #000,
         3px  3px 0 #000,

        /* Sombra roja 3D (estilo The Hateful Eight) */
        6px 6px 0 #b30000,
        7px 7px 0 #b30000,
        8px 8px 0 #b30000,
        9px 9px 0 #b30000,
        10px 10px 0 #b30000;
}

.contenedor-principal {
    height: calc(100% - 140px); /* 100% menos header y footer */
    display: flex;
    flex-direction: column;
    justify-content: center;   /* Centra vertical */
    align-items: center;       /* Centra horizontal */
    text-align: center;
    padding: 0 40px;
}

.texto-presentacion {
    max-width: 600px;
    line-height: 1.6;
    font-size: 18px;
}

footer {
    background: #000;
    color: #aaa;
    padding: 12px;
    text-align: center;
    border-top: 2px solid #444;
    font-size: 14px;
}
